.container
  .profilePage
    = link_to destroy_user_session_path, data: { method: 'delete' }, target: '_blank' do
      = image_tag 'back.svg', class: 'return-btn'
    .profilePage_user_account 
      %p= current_user.account
    .profilePage_user_image
      = image_tag current_user.avatar_image, class: 'avatar-image', id: 'profilePageImage'
    
    #profile-content
      .profilePage_user_image_box 
        .profilePage_user_image_box_item 
          = form_with(model: @profile, url: profile_path, method: 'put', remote: true) do |f|
            %div
              = f.label :avatar, 'image', class: 'form-title'
            %div 
              = f.file_field :avatar, class: 'modal-btn-primary'
            = f.submit 'Submit', class: 'modal-btn-primary'
<<<<<<< HEAD
          %button#profile-content-close Cancel
=======
          %button#profile-content-close close  
>>>>>>> 9ea747ac1175664de822d086489dabd54f6d2be7

    .profilePage_user_have
      .profilePage_user_have_item 
        %p.count 44
        %p.title posts
      .profilePage_user_have_item 
        %p.count 110
        %p.title Followers
      .profilePage_user_have_item 
        %p.count 44
        %p.title Followings


= javascript_pack_tag 'profile'
