%p All Post 
.post-container 
  .post-header 
    .post-header-postbtn
      = link_to new_post_path do 
        = image_tag 'camera.png', class: 'post-new'
  - @posts.each do |post|
    .post-header-list
      .post-user 
        = link_to profile_path do
          = image_tag current_user.avatar_image, class: 'posts-avatar'
      %p.post-account= current_user.account 
      %p.post-time= time_ago_in_words(post.created_at)
    .post-card 
      .post-images 
        - if post.images.attached?
          - post.images.each do |image|
            = image_tag image 
      .post-buttoms 
