.card_container 
  = form_with model: @post, url: posts_path, method: 'post', local: true do |f|
    .post_new_header 
      = link_to 'Cancel', posts_path, class: 'post-cancel'
      %p.post_new_header_name Status 
      .post_new_header_postbtn 
        = f.submit 'Post', class: 'post-btn'

    .post_new_card 
      .post_new_card_user 
        = image_tag current_user.avatar_image, class: 'post-avatar'
      .post_new_card_user_name 
        %p.user_name= current_user.account 

    .content_field 
      = f.text_field :content, class: 'post-content', placeholder: 'what’s on your mind ?'
    .post_new_image 
      .post_new_image_label 
        = f.label :images, '+ Album', class: 'album-btn'
      .post_new_image_form 
        = f.file_field :images, multiple: true, class: 'post-image'