.container#account-show{data: {account_id: @user.id, following_id: current_user.id}}
  .profilePage
    = link_to root_path do
      = image_tag 'return.png', class: 'return-btn'
    .profilePage_user_account 
      %p= @user.account
    .profilePage_follow_btn
      .follow-btn.hidden
        %p Follow
      .unfollow-btn.hidden
        %p Unfollow
    .profilePage_user_image
      = image_tag @user.avatar_image, class: 'avatar-image', id: 'profilePageImage'

    .profilePage_user_have
      .profilePage_user_have_item 
        %p.count 44
        %p.title posts
      .profilePage_user_have_item 
        %p.count 110
        %p.title Followers
      .profilePage_user_have_item 
        %p.count 44
        %p.title Followings

  - @user.posts.each do |post|
    = render 'commons/post', post: post


= javascript_pack_tag 'profile'
= javascript_pack_tag 'followrelation'